<span
    {...Astro.props}
    class="font-semibold px-2.5 py-0.5 text-xs sm-mobile:text-sm sm:px-4 sm:py-2 lg:px-2.5 lg:py-0.5 text-gray-500 inline-flex items-center gap-2 bg-violet-100 border border-indigo-300 rounded"
>
    <slot name="icon" />
    <slot />
</span>
