<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="font-medium text-xl text-indigo-600 inline-flex items-center justify-center gap-2 px-6 py-2 transition bg-violet-100 border border-indigo-300 rounded-2xl focus-visible:ring-indigo-600/50 text-md hover:border-indigo-600 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"
>
  <slot name="icon" />
  <slot />
</a>
