<a
  {...Astro.props}
  class={"group inline-flex max-w-fit items-center justify-center gap-2 rounded-2xl border border-indigo-300 bg-violet-100 px-6 py-2 text-xl font-medium text-indigo-600 transition hover:border-indigo-600 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-600/50 focus-visible:ring-offset-2"}
  rel={"noopener noreferrer"}
  target={"_blank"}
>
  <slot name="icon" />
  <slot />
</a>
