---
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailForwardIcon from "../icons/MailForward.astro";
const GITHUB_PROFILE_LINK = "https://github.com/NewCastile";
const MAILTO_LINK = "mailto:carlosaguanipa1@gmail.com";
const LINKEDIN_PROFILE_LINK = "https://www.linkedin.com/in/cguanipa/";
---

<footer
    class="flex flex-col items-center justify-center w-full px-8 mx-auto text-xl font-bold py-14 lg:px-0 md:w-4/5 lg:w-3/4 desktop:w-1/2"
>
    <div class="flex flex-col items-center justify-between w-full lg:flex-row">
        <span
            class="flex-row items-center justify-end hidden w-full gap-4 lg:inline-flex lg:justify-center"
        >
            Hecho por
            <a
                role="link"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex flex-row items-center justify-center gap-2 py-4"
                href={GITHUB_PROFILE_LINK}
            >
                <GithubIcon class="inline-block w-6 h-6" name="icon" /> NewCastile
            </a>
        </span>
        <div
            class="flex flex-col items-center justify-center w-full gap-4 sm:flex-row lg:justify-center lg:gap-10"
        >
            <a
                class="px-2 py-4"
                target="_blank"
                rel="noopener noreferrer"
                href={MAILTO_LINK}
            >
                <MailForwardIcon class="inline-block w-10 h-10" />
                Github
            </a>
            <a
                class="px-2 py-4"
                href={LINKEDIN_PROFILE_LINK}
                target="_blank"
                rel="noopener noreferrer"
            >
                <LinkedInIcon class="inline-block w-6 h-6" />
                LinkedIn
            </a>
            <a
                class="block px-2 py-4 lg:hidden"
                href={GITHUB_PROFILE_LINK}
                target="_blank"
                rel="noopener noreferrer"
            >
                <GithubIcon class="inline-block w-6 h-6" />
                Github
            </a>
        </div>
    </div>
</footer>
