---
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailForwardIcon from "../icons/MailForward.astro";
const GITHUB_PROFILE_LINK = "https://github.com/NewCastile";
const MAILTO_LINK = "mailto:carlosaguanipa1@gmail.com";
const LINKEDIN_PROFILE_LINK = "https://www.linkedin.com/in/cguanipa/";
---

<footer
    class={"mx-auto flex w-full flex-col items-center justify-center px-8 py-14 text-xl font-bold md:w-4/5 desktop:w-1/2 lg:w-3/4 lg:px-0"}
>
    <div
        class={"flex w-full flex-col items-center justify-between lg:flex-row"}
    >
        <span
            class={"hidden w-full flex-row items-center justify-end gap-4 lg:inline-flex lg:justify-center"}
        >
            Hecho por
            <a
                class={"inline-flex flex-row items-center justify-center gap-2 py-4"}
                href={GITHUB_PROFILE_LINK}
                rel={"noopener noreferrer"}
                role={"link"}
                target={"_blank"}
            >
                <GithubIcon class={"inline-block size-6"} name={"icon"} /> NewCastile
            </a>
        </span>
        <div
            class={"flex w-full flex-col items-center justify-center gap-4 sm:flex-row lg:justify-center lg:gap-10"}
        >
            <a
                class={"px-2 py-4"}
                href={MAILTO_LINK}
                rel={"noopener noreferrer"}
                target={"_blank"}
            >
                <MailForwardIcon class={"inline-block size-10"} />
                Contáctame
            </a>
            <a
                class={"px-2 py-4"}
                href={LINKEDIN_PROFILE_LINK}
                rel={"noopener noreferrer"}
                target={"_blank"}
            >
                <LinkedInIcon class={"inline-block size-6"} />
                LinkedIn
            </a>
            <a
                class={"block px-2 py-4 lg:hidden"}
                href={GITHUB_PROFILE_LINK}
                rel={"noopener noreferrer"}
                target={"_blank"}
            >
                <GithubIcon class={"inline-block size-6"} />
                Github
            </a>
        </div>
    </div>
</footer>
