---
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailForwardIcon from "../icons/MailForward.astro";
const GITHUB_PROFILE_LINK = "https://github.com/NewCastile";
const MAILTO_LINK = "mailto:carlosaguanipa1@gmail.com";
const LINKEDIN_PROFILE_LINK = "https://www.linkedin.com/in/cguanipa/";
---

<footer
    class="py-14 px-8 lg:px-0 mx-auto w-full md:w-4/5 lg:w-3/4 desktop:w-1/2 flex flex-col justify-center items-center font-bold text-xl"
>
    <div class="flex flex-col lg:flex-row justify-between items-center w-full">
        <span
            class="w-full hidden lg:inline-flex flex-row justify-end lg:justify-center items-center gap-4"
        >
            Hecho por
            <a
                role="link"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex flex-row justify-center items-center gap-2 py-4"
                href={GITHUB_PROFILE_LINK}
            >
                <GithubIcon class="w-6 h-6 inline-block" name="icon" /> NewCastile
            </a>
        </span>
        <div
            class="w-full flex flex-col sm-mobile:flex-row justify-center lg:justify-center items-center gap-4 lg:gap-10"
        >
            <a
                class="px-2 py-4"
                target="_blank"
                rel="noopener noreferrer"
                href={MAILTO_LINK}
            >
                <MailForwardIcon class="w-10 h-10 inline-block" />
                Contáctame
            </a>
            <a
                class="px-2 py-4"
                href={LINKEDIN_PROFILE_LINK}
                target="_blank"
                '
                rel="noopener noreferrer"
            >
                <LinkedInIcon class="w-6 h-6 inline-block" />
                LinkedIn
            </a>
            <a
                class="block lg:hidden px-2 py-4"
                href={GITHUB_PROFILE_LINK}
                target="_blank"
                rel="noopener noreferrer"
            >
                <GithubIcon class="w-6 h-6 inline-block" />
                Github
            </a>
        </div>
    </div>
</footer>
