---
import UserHeartIcon from "../../components/icons/UserHeart.astro";
---

<section
    class="flex flex-col items-start justify-center w-full gap-8 md:w-4/5 pt-28"
    id="about-me"
>
    <h3
        class="inline-flex flex-row items-center justify-center w-full gap-4 text-4xl md:justify-start"
    >
        <UserHeartIcon class="hidden w-16 h-16 sm-mobile:inline-block" />Sobre
        mí
    </h3>
    <div class="flex flex-col items-center justify-center gap-8">
        <p class="w-full text-center md:text-left">
            Mi interés por la programación despertó junto con el lanzamiento de
            la serie <span class="highlight">Mr Robot</span>. Empecé con Python
            pero me pareció muy aburrido. Quería algo más
            <span class="highlight">interactivo</span>, más
            <span class="highlight">visual</span>, fue entonces cuando conocí
            <span class="highlight">Javascript</span>.
        </p>
        <p class="w-full text-center md:text-left">
            Desde entonces me he dedicado a estudiar el lenguaje y su ecosistema
            desarrollando varias aplicaciones en el proceso enfocándome en el
            <span class="highlight">diseño UX/UI</span>.
        </p>
        <p class="w-full text-center md:text-left">
            Los videojuegos, el arte digital, los podcasts, el anime y el manga
            son algunos de mis pasatiempos 😉.
        </p>
    </div>
</section>
