---
import UserHeartIcon from "../../components/icons/UserHeart.astro";
import { routes } from "../../i18n/ui";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { about } from "../../i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedAbout = about[lang];
const sectionId = routes[lang]["about-me"].replace("#", "");
---

<section
    class={"flex w-full flex-col items-start justify-center gap-8 md:w-4/5"}
    id={sectionId}
>
    <h3
        class={"inline-flex w-full flex-row items-center justify-center gap-4 text-4xl md:justify-start"}
    >
        <UserHeartIcon class={"hidden size-16 sm-mobile:inline-block"} />{
            t("about-me.header")
        }
    </h3>
    <div
        class={"flex flex-col items-center justify-center gap-8"}
        set:html={translatedAbout}
    />
</section>
