---
import CertificateIcon from "../../components/icons/Certificate.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { certificates, routes } from "../../i18n/ui";
import Certificate from "../sections/certificates/Certificate.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatedCertificates = certificates[lang];

const sectionId = routes[lang]["certificates"].replace("#", "");
---

<section
  class={"flex w-full flex-col items-start justify-center gap-12 pt-28 md:w-4/5"}
  id={sectionId}
>
  <h3
    class={"inline-flex w-full flex-row items-center justify-center gap-4 text-4xl md:justify-start"}
  >
    <CertificateIcon class={"hidden size-20 sm-mobile:inline-block"} />{
      t("certificates.header")
    }
  </h3>
  <div class={"flex w-full flex-col items-center justify-center gap-14"}>
    {
      translatedCertificates.map((course) => {
        return <Certificate course={course} />;
      })
    }
  </div>
</section>
