---
import { projects, routes, technologyGroups } from "../../i18n/ui";
import StackIcon from "../../components/icons/Stack.astro";

import TechnologyGroup from "./projects/technology/TechnologyGroup.astro";

import Project from "../sections/projects/Project.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatedProjects = projects[lang];
const translatedTechonologyGroups = technologyGroups[lang];

const sectionId = routes[lang]["projects"].replace("#", "");
---

<section
  class={"flex w-full flex-col items-start justify-center gap-8 pt-28 md:w-11/12"}
  id={sectionId}
>
  <h3
    class={"inline-flex w-full flex-row items-center justify-center gap-4 text-4xl md:justify-start"}
  >
    <StackIcon class={"hidden size-20 sm-mobile:inline-block"} />{
      t("projects.header")
    }
  </h3>
  <div class={"flex flex-col items-center justify-center gap-14"}>
    <div class={"flex flex-col items-center justify-center gap-12"}>
      {
        translatedProjects.map((project) => {
          return <Project project={project} />;
        })
      }
    </div>
    <div class={"flex w-full flex-col items-center justify-center gap-5"}>
      <h4 class={"w-full text-center text-3xl"}>{t("projects.sub-header")}</h4>
      <ul class={"flex flex-col items-center justify-center gap-5"}>
        {
          translatedTechonologyGroups.map((group) => {
            return <TechnologyGroup technologyGroup={group} />;
          })
        }
      </ul>
    </div>
  </div>
</section>
