---
import Layout from "../layouts/Layout.astro";
import Home from "../components/sections/Home.astro";
import Projects from "../components/sections/Projects.astro";
import Certificates from "../components/sections/Certificates.astro";
import AboutMe from "../components/sections/AboutMe.astro";
---

<Layout title="Portfolio de NewCastile - Desarrollador Frontend">
	<main
		class="flex flex-col items-center justify-center p-10 mx-auto lg:px-20 md:w-4/5 lg:w-3/4 bg-slate-400/30 backdrop-blur-sm"
	>
		<Home />
		<Projects />
		<Certificates />
		<AboutMe />
	</main>
</Layout>
