---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/rubik";

import Header from "../components/layout/Header.astro";
import LanguagePicker from "../components/layout/LanguagePicker.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset={"UTF-8"} />
		<meta content={"NewCastile Portfolio Web Page"} name={"description"} />
		<meta content={"width=device-width"} name={"viewport"} />
		<link href={"/favicon.svg"} rel={"icon"} type={"image/svg+xml"} />
		<meta content={Astro.generator} name={"generator"} />
		<meta name='og:image' content='/og.png' />
    	<meta name='twitter:card' content='summary_large_image' />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="text-zinc-800 dark:text-gray-400">
		<LanguagePicker />
		<Header />
		<slot />
		<style is:global>
			:root {
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);

				scroll-behavior: smooth;
			}

			html {
				background: url("../images/paper-texture.jpg") no-repeat center
					center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				overflow-x: hidden;
				background-size: cover;
				font-size: 13px;
				line-height: 1.6;
				height: 100%;
			}

			body {
				overflow-x: hidden;
				height: 100%;
				min-height: 100vh;
				font-family: "Rubik Variable", sans-serif;

				scroll-behavior: smooth;
				scroll-padding-top: var(--scroll-padding, 50px);
			}

			h2,
			h3,
			h4 {
				font-weight: 700;
			}

			p {
				font-weight: 600;
				font-size: 1.2rem;
			}

			mark {
				all: unset;
			}

			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			ul,
			li {
				all: unset;
			}
		</style>
		<script>
			const navbar = document.querySelector("astro-navbar");
			const navbarHeight = navbar ? navbar.clientHeight : 50;
			document.body.style.setProperty(
				"--scroll-padding",
				`${navbarHeight}px`,
			);
		</script>
	</body>
</html>
