---
import Link from "../../shared/Link.astro";
import GithubIcon from "../../icons/Github.astro";
import LinkIcon from "../../icons/Link.astro";
const { repo, web } = Astro.props;
---

<div class="flex flex-col items-start justify-center gap-2 sm-mobile:flex-row">
    <Link href={repo}>
        <GithubIcon class="w-7 h-7" name="icon" />
        Code
    </Link>
    {
        web ? (
            <Link href={web}>
                <LinkIcon class="w-7 h-7" name="icon" />
                Web
            </Link>
        ) : null
    }
</div>
