---
import Link from "../../shared/Link.astro";
import GithubIcon from "../../icons/Github.astro";
import LinkIcon from "../../icons/Link.astro";
const { repo, web } = Astro.props;
---

<div class="flex flex-col sm-mobile:flex-row justify-center items-start gap-2">
    <Link href={repo}>
        <GithubIcon class="w-7 h-7" name="icon" />
        <span class="text-lg">Code</span>
    </Link>
    {
        web ? (
            <Link href={web}>
                <LinkIcon class="w-7 h-7" name="icon" />
                <span class="text-lg">Web</span>
            </Link>
        ) : null
    }
</div>
