---
import Link from "../../shared/Link.astro";
import GithubIcon from "../../icons/Github.astro";
import LinkIcon from "../../icons/Link.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { repo, web } = Astro.props;
---

<div
    class={"flex flex-col items-start justify-center gap-2 sm-mobile:flex-row"}
>
    <Link href={repo}>
        <GithubIcon class={"size-7"} name={"icon"} />
        {t("projects.companion.links.repository")}
    </Link>
    {
        web ? (
            <Link href={web}>
                <LinkIcon class={"size-7"} name={"icon"} />
                {t("projects.companion.links.web")}
            </Link>
        ) : null
    }
</div>
